.table-table {

        display: flex;
        flex-wrap: wrap;
        /*justify-content: center;*/
        /*margin: 0 auto;*/
        max-width: 600px;
        margin-bottom: 100px;
        /*border-collapse: collapse;*/
        gap: 10px;
    }
    .table th {
        font-weight: bold;
        padding: 5px;
        background: #efefef;
        border: 2px solid #000000;
    }
    .table td {
        border: 1px solid #dddddd;
        padding: 5px;
    }

.table-window {
	width: calc(100% - 100px);
	margin: 0 auto;
}
.table-title {
	font-size: 30px;
	color: #000000;
	margin-bottom: 10px;
}
.table-title-form {
	font-size: 18px;
}