{% extends 'base.html' %}



{% block content %}
    <h1 align="center">Востребованность</h1>
{% endblock %}


{% block text %}
    <div>
        {% for b in data %}
            <img src="{{ b.abimg.url }}">
        {% endfor %}
    </div>

<div class="table">
    <table>
            <tbody><tr>
                <th><strong>Год</strong></th>
                <th><strong>Средняя зарплата</strong></th>
                <th><strong>Средняя зарплата - IOS-разработчик</strong></th>
                <th><strong>Количество вакансий</strong></th>
                <th><strong>Количество вакансий - IOS-разработчик</strong></th>
            </tr>
            <tr>
                <th>2003</th>
                <th>41304</th>
                <th>0</th>
                <th>1983</th>
                <th>0</th>
            </tr>
            <tr>
                <th>2004</th>
                <th>42967</th>
                <th>0</th>
                <th>7833</th>
                <th>1</th>
            </tr>
            <tr>
                <th>2005</th>
                <th>44938</th>
                <th>0</th>
                <th>16022</th>
                <th>0</th>
            </tr>
            <tr>
                <th>2006</th>
                <th>41317</th>
                <th>47316</th>
                <th>33321</th>
                <th>3</th>
            </tr>
            <tr>
                <th>2007</th>
                <th>44449</th>
                <th>41305</th>
                <th>53562</th>
                <th>5</th>
            </tr>
            <tr>
                <th>2008</th>
                <th>48411</th>
                <th>94843</th>
                <th>75070</th>
                <th>4</th>
            </tr>
            <tr>
                <th>2009</th>
                <th>44811</th>
                <th>82887</th>
                <th>52889</th>
                <th>3</th>
            </tr>
            <tr>
                <th>2010</th>
                <th>44658</th>
                <th>54772</th>
                <th>93494</th>
                <th>18</th>
            </tr>
            <tr>
                <th>2011</th>
                <th>46449</th>
                <th>69370</th>
                <th>142458</th>
                <th>379</th>
            </tr>
            <tr>
                <th>2012</th>
                <th>47967</th>
                <th>66047</th>
                <th>173897</th>
                <th>1036</th>
            </tr>
            <tr>
                <th>2013</th>
                <th>53548</th>
                <th>66882</th>
                <th>234019</th>
                <th>1682</th>
            </tr>
            <tr>
                <th>2014</th>
                <th>49078</th>
                <th>70211</th>
                <th>259571</th>
                <th>1941</th>
            </tr>
            <tr>
                <th>2015</th>
                <th>51739</th>
                <th>101842</th>
                <th>284763</th>
                <th>3278</th>
            </tr>
            <tr>
                <th>2016</th>
                <th>61331</th>
                <th>100725</th>
                <th>332460</th>
                <th>3827</th>
            </tr>
            <tr>
                <th>2017</th>
                <th>60394</th>
                <th>106311</th>
                <th>391464</th>
                <th>3637</th>
            </tr>
            <tr>
                <th>2018</th>
                <th>65679</th>
                <th>112948</th>
                <th>517670</th>
                <th>4441</th>
            </tr>
            <tr>
                <th>2019</th>
                <th>70065</th>
                <th>131216</th>
                <th>535956</th>
                <th>4928</th>
            </tr>
            <tr>
                <th>2020</th>
                <th>72985</th>
                <th>145595</th>
                <th>489472</th>
                <th>4619</th>
            </tr>
            <tr>
                <th>2021</th>
                <th>83193</th>
                <th>176566</th>
                <th>391464</th>
                <th>2746</th>
            </tr>
            <tr>
                <th>2022</th>
                <th>95673</th>
                <th>219307</th>
                <th>91142</th>
                <th>854</th>
            </tr>
        </tbody></table>
</div>
{% endblock %}}

