{% extends 'base.html' %}
{% block content %}
    <h1 align="center">География</h1>
{% endblock %}

{% block text %}
    {% for b in data %}
    <a href="{{ b.book.url }}"></a>
    <img src="{{ b.cover.url }}">
    {% endfor %}
         <div class="table">
               <div class="table-window">
                   <div class="table-title">Уровень зарплат</div>
                    <div class="table-title-form">
                       <table><tbody>

                            <tr>
                                <th>Город</th>
                                <th>Зарплата</th>
                            </tr>
                            <tr><th>Минск</th><th>94092</th></tr>
                            <tr><th>Киев</th><th>79895</th></tr>
                            <tr><th>Москва</th><th>78957</th></tr>
                            <tr><th>Санкт-Петербург</th><th>68747</th></tr>
                            <tr><th>Новосибирск</th><th>64771</th></tr>
                            <tr><th>Екатеринбург</th><th>59139</th></tr>
                            <tr><th>Краснодар</th><th>51585</th></tr>
                            <tr><th>Казань</th><th>51309</th></tr>
                            <tr><th>Нижний Новгород</th><th>49914</th></tr>
                            <tr><th>Самара</th><th>49548</th></tr>
                    </tbody></table>
                    </div>
               </div>
               <div class="table-window">
                   <div class="table-title">Доля вакансий</div>
                    <div class="table-title-form">
                       <table><tbody>
                                <tr>
                                    <th>Город</th>
                                    <th>Процент вакансий</th>
                                </tr>
                                <tr><th>Москва</th><th>0.33</th></tr>
                                <tr><th>Санкт-Петербург</th><th>0.101</th></tr>
                                <tr><th>Минск</th><th>0.040</th></tr>
                                <tr><th>Киев</th><th>0.032</th></tr>
                                <tr><th>Новосибирск</th><th>0.023</th></tr>
                                <tr><th>Нижний Новгород</th><th>0.021</th></tr>
                                <tr><th>Екатеринбург</th><th>0.019</th></tr>
                                <tr><th>Алматы</th><th>0.018</th></tr>
                                <tr><th>Воронеж</th><th>0.018</th></tr>
                                <tr><th>Казань</th><th>0.018</th></tr>
                                <tr><th>Другие</th><th>0.371</th></tr>
                       </tbody></table>
                    </div>
               </div>
         </div>

{% endblock %}}