{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
<style type="text/css">

</style>
{% block content %}
    <h1 class="center">Главная страница</h1>
{% endblock %}
{% block text %}
    {% for b in data %}
        <img src="{{ b.dsimg.url }}">
    {% endfor %}
    <p>iOS-разработчик, или iOS developer, — это программист, который пишет сервисы и программы для айфонов. Из-за особенностей устройств Apple и их операционной системы для них нужно писать специальный код. Основной язык, на котором пишут код iOS-разработчики, — Swift</p>
    <p>Чтобы писать на языке Swift, нужна специальная среда разработки — Xcode. Она корректно работает только на устройствах Apple: MacBook, iMac, Mac Pro, Mac Studio, Mac mini.

iOS-разработчики пишут все сервисы, которые можно скачать в Apple Store. Игры, банковские приложения, заметки, службы доставки — результат труда iOS-разработчиков. Без них не обойтись ни одной компании, которая хочет адаптировать свои сервисы для устройств Apple</p>
    <h3>Чем занимаются iOS-разработчики</h3>
    <ul>
        <li>Разрабатывают приложения под iOS<p>Вы будете использовать язык программирования Swift и создавать приложения для миллионов людей по всему миру, прославитесь и будете зарабывать миллионы рублей в день</p></li>
        <li>Работают в экосистеме Apple<p>Вы будете заядлым яблочником, ведь экосистема Apple шикарна и вы сможете улучшить её!</p></li>
        <li>Взаимодействуют с командой<p>Команда работающая на ios это уже половина успеха!</p></li>
        <li>Видят результат сразу<p>Это поможет зарядиться мотивацией и начать работать еще больше и усерднее!</p></li>
    </ul>
{% endblock %}



