<!--{% extends 'base.html' %}-->
<!--{% block title %}-->
<!--Навыки-->
<!--{% endblock %}-->
<!--{% block content %}-->

<!--<h1>Навыки</h1>-->
<!--{% endblock %}-->
<!--{% block table %}-->
<!--   <ul class="flex-container">-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--                <p>2015</p>-->
<!--                <tr>-->
<!--                    <th>Навык</th>-->
<!--                    <th>Количество упоминаний</th>-->
<!--                </tr>-->
<!--                <tr><th>Ios</th><th>802</th></tr>-->
<!--                <tr><th>Objective-C</th><th>609</th></tr>-->
<!--                <tr><th>C++</th><th>192</th></tr>-->
<!--                <tr><th>Git</th><th>190</th></tr>-->
<!--                <tr><th>Android</th><th>179</th></tr>-->
<!--                <tr><th>SQLite</th><th>151</th></tr>-->
<!--                <tr><th>ООП</th><th>103</th></tr>-->
<!--        </tbody></table>-->
<!--       </li>-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--                <p>2016</p>-->
<!--                    <tr>-->
<!--                        <th>Навык</th>-->
<!--                        <th>Количество упоминаний</th>-->
<!--                    </tr>-->
<!--                    <tr><th>Ios</th><th>1289</th></tr>-->
<!--                    <tr><th>Objective-C</th><th>1072</th></tr>-->
<!--                    <tr><th>Git</th><th>496</th></tr>-->
<!--                    <tr><th>ООП</th><th>344</th></tr>-->
<!--                    <tr><th>Android</th><th>262</th></tr>-->
<!--                    <tr><th>Swift</th><th>246</th></tr>-->
<!--                    <tr><th>Xcode</th><th>240</th></tr>-->
<!--                    <tr><th>Java</th><th>182</th></tr>-->
<!--                    <tr><th>C++</th><th>124</th></tr>-->
<!--                    <tr><th>Mac Os</th><th>115</th></tr>-->
<!--            </tbody></table>-->
<!--        </li>-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--                <p>2017</p>-->
<!--                <tr>-->
<!--                    <th>Навык</th>-->
<!--                    <th>Количество упоминаний</th>-->
<!--                </tr>-->
<!--                <tr><th>Ios</th><th>1428</th></tr>-->
<!--                <tr><th>Objective-C</th><th>1189</th></tr>-->
<!--                <tr><th>Git</th><th>530</th></tr>-->
<!--                <tr><th>Swift</th><th>430</th></tr>-->
<!--                <tr><th>ООП</th><th>355</th></tr>-->
<!--                <tr><th>Xcode</th><th>325</th></tr>-->
<!--                <tr><th>Android</th><th>191</th></tr>-->
<!--                <tr><th>Mac Os</th><th>176</th></tr>-->
<!--                <tr><th>Java</th><th>136</th></tr>-->
<!--                <tr><th>REST</th><th>129</th></tr>-->
<!--            </tbody></table>-->
<!--           </li>-->
<!--           <li class="flex-item">-->
<!--            <table><tbody>-->
<!--                <p>2018</p>-->
<!--                    <tr>-->
<!--                        <th>Навык</th>-->
<!--                        <th>Количество упоминаний</th>-->
<!--                    </tr>-->
<!--                    <tr><th>Ios</th><th>1853</th></tr>-->
<!--                    <tr><th>Objective-C</th><th>1373</th></tr>-->
<!--                    <tr><th>Swift</th><th>939</th></tr>-->
<!--                    <tr><th>Git</th><th>714</th></tr>-->
<!--                    <tr><th>ООП</th><th>373</th></tr>-->
<!--                    <tr><th>Xcode</th><th>282</th></tr>-->
<!--                    <tr><th>Android</th><th>241</th></tr>-->
<!--                    <tr><th>Mac Os</th><th>186</th></tr>-->
<!--                    <tr><th>Java</th><th>180</th></tr>-->
<!--                </tbody></table>-->
<!--           </li>-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--                <p>2019</p>-->
<!--                <tr>-->
<!--                    <th>Навык</th>-->
<!--                    <th>Количество упоминаний</th>-->
<!--                </tr>-->
<!--                <tr><th>Ios</th><th>2647</th></tr>-->
<!--                <tr><th>Objective-C</th><th>1796</th></tr>-->
<!--                <tr><th>Swift</th><th>1237</th></tr>-->
<!--                <tr><th>Git</th><th>928</th></tr>-->
<!--                <tr><th>ООП</th><th>544</th></tr>-->
<!--                <tr><th>Xcode</th><th>311</th></tr>-->
<!--                <tr><th>Android</th><th>254</th></tr>-->
<!--                <tr><th>Mac Os</th><th>241</th></tr>-->
<!--                <tr><th>Java</th><th>191</th></tr>-->
<!--            </tbody></table>-->
<!--       </li>-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--            <p>2020</p>-->
<!--                <tr>-->
<!--                    <th>Навык</th>-->
<!--                    <th>Количество упоминаний</th>-->
<!--                </tr>-->
<!--                <tr><th>Ios</th><th>3194</th></tr>-->
<!--                <tr><th>Objective-C</th><th>1910</th></tr>-->
<!--                <tr><th>Swift</th><th>1712</th></tr>-->
<!--                <tr><th>Git</th><th>1362</th></tr>-->
<!--                <tr><th>ООП</th><th>788</th></tr>-->
<!--                <tr><th>Mac Os</th><th>550</th></tr>-->
<!--                <tr><th>Английский язык</th><th>369</th></tr>-->
<!--                <tr><th>Android</th><th>340</th></tr>-->
<!--                <tr><th>MVC</th><th>252</th></tr>-->
<!--            </tbody></table>-->
<!--       </li>-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--                <p>2021</p>-->
<!--                <tr>-->
<!--                    <th>Навык</th>-->
<!--                    <th>Количество упоминаний</th>-->
<!--                </tr>-->
<!--                <tr><th>Ios</th><th>2068</th></tr>-->
<!--                <tr><th>Swift</th><th>1183</th></tr>-->
<!--                <tr><th>Objective-C</th><th>968</th></tr>-->
<!--                <tr><th>Git</th><th>889</th></tr>-->
<!--                <tr><th>ООП</th><th>548</th></tr>-->
<!--                <tr><th>Английский язык</th><th>335</th></tr>-->
<!--                <tr><th>Mac Os</th><th>308</th></tr>-->
<!--                <tr><th>Xcode</th><th>267</th></tr>-->
<!--                <tr><th>Android</th><th>189</th></tr>-->
<!--                <tr><th>MVC</th><th>187</th></tr>-->
<!--            </tbody></table>-->
<!--       </li>-->
<!--       <li class="flex-item">-->
<!--           <table><tbody>-->
<!--                <p>2022</p>-->
<!--                <tr>-->
<!--                    <th>Навык</th>-->
<!--                    <th>Количество упоминаний</th>-->
<!--                </tr>-->
<!--                <tr><th>Ios</th><th>652</th></tr>-->
<!--                <tr><th>Swift</th><th>541</th></tr>-->
<!--                <tr><th>Git</th><th>240</th></tr>-->
<!--                <tr><th>Objective-C</th><th>210</th></tr>-->
<!--                <tr><th>Xcode</th><th>183</th></tr>-->
<!--                <tr><th>ООП</th><th>176</th></tr>-->
<!--                <tr><th>Английский язык</th><th>103</th></tr>-->
<!--                <tr><th>MVVM</th><th>86</th></tr>-->
<!--                <tr><th>Mac Os</th><th>81</th></tr>-->
<!--                <tr><th>VIPER</th><th>75</th></tr>-->
<!--            </tbody></table>-->
<!--       </li>-->
<!--   </ul>-->
<!--{% endblock %}-->



<!--</body>-->
<!--</html>-->